@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.content {
    animation: fadeIn 1s ease-in-out;
}

.release {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #56CCF2, #2F80ED); /* Blue gradient background */
    font-family: Arial, sans-serif;
}

.content {
    text-align: center;
}

.download-button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 50px;
    display: block; /* Changed to block to appear below the text */
    margin-top: 20px; /* Space between text and button */
    margin-left: auto; /* Center the button horizontally */
    margin-right: auto; /* Center the button horizontally */
}

h1 {
    color: white;
    margin-bottom: 20px; /* Space between heading and button */
}
